---
layout: default
---

<div class="post">

    <h1>{{ post.title | escape }}</h1>
    <span class="date">{{ post.date | dateFormat}}</span>
    <span class="post-topics">
        <a href="http://downgra.de/{{ page.url }}#disqus_thread">comments</a>
        {% if post.categories %}
            |
            {% for category in post.categories %}
                {{ category }}{% if not loop.last %},{% endif %}
            {% endfor %}
        {% endif %}
    </span>

    <div>
        {{ content }}
    </div>

    <div id="disqus_thread"></div>

    <script type="text/javascript">
      var disqus_identifier = '{{ post.title | slugify }}';
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://downgrade.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=downgrade">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>
